html {
  width: 100%;
}

body {
  background: linear-gradient(#4e2799, #5939d8);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 650px;
  background-size: auto;
  background-repeat: no-repeat;
}

.title {
  text-align: center;
  font-family: "Righteous", san-serif;
  color: #FF66FF;
  font-size: 88px;
  -webkit-text-stroke: 3px #85E0FF;
  letter-spacing: 2.5px;
  -webkit-transform: rotate(-12deg);
  transform: rotate(-12deg);
  text-shadow: 4px 4px yellow;
  margin: 0 auto;
  text-indent: -10%;
}

.subtitle {
  font-family: "Pacifico", cursive;
  z-index: 2;
  color: yellow;
  text-shadow: 4px 4px rgba(255, 102, 255, 0.7);
  margin: 0;
  display: flex;
  justify-content: center;
  position: relative;
  top: -30px;
  margin-left: 50px;
}

.mobileError{
  text-align: center;
  color: yellow;
  width: 90%;
  margin-top: 30px;
  margin-left: 30px;
}

.hideMobile {
  display: none;
}

#congrats {
  display: none;
}

#tutorial {
  display:none;
}

#nameRequest {
  display: none;
}

#gameOver {
  display: none;
}

.htmlCodeBox section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*congrats window header*/
.ui-widget-header {
    background: #5939d8;
    border: 0;
    color: yellow;
    font-weight: normal;
    font-family: "Pacifico", cursive;
    font-size: 60px;
    text-align: center;
}

/*congrats window*/
.ui-dialog .ui-dialog-content {
  background: #85E0FF;
  text-align: center;
  font-size: 24px;
  font-family: "Righteous", san-serif;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

/*congrats window buttons*/
.ui-dialog .ui-dialog-buttonpane {
  background: #85E0FF;
}

.ui-dialog .ui-dialog-buttonpane button {
  background: #5939d8;
  color: yellow;
  font-family: "Righteous", san-serif;
}

.ui-widget-content {
  border-top: 1px solid #5939d8;
}

/*congrats window border*/
.ui-widget.ui-widget-content {
  border: 5px solid #FF66FF;
  background: #85E0FF;
}

/*game variables*/
.purpleText {
  color: rebeccaPurple;
}

.strongText {
  font-weight: bold;
}

.emText {
  font-style: italic;
}

.aText {
  color: blue;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {

  body {
    height: auto;
    width: auto;
  }

  .leaderboard {
    display: flex;
    flex-direction: column;
    border: 5px solid #85E0FF;
    width: 33%;
    color: yellow;
    font-family: "Pacifico", cursive;
    border-radius: 7px;
    margin-bottom: 5px;
    font-size: 30px;
    padding-left: 15px;
  }

  .leaderboard p {
    color: #85E0FF;
    font-family: "Righteous", san-serif;
    margin: 3px;
    font-size: 18px;
  }
  .playArea {
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 7px solid yellow;
    background: #FF66FF;
    align-self: center;
    border-radius: 7px;
  }

  .gameInterface {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .buttonHolder {
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 5px solid yellow;
  }

  #htmlTags {
    margin: 15px;
  }

  .button {
    background: #85E0FF;
    border: 4px solid #4e2799;
    border-radius: 7px;
    height: 28px;
    font-family: "Righteous", san-serif;
    font-size: 16px;
    text-align: center;
  }

  .medInstructions {
    font-size: 20px;
    font-family: "Pacifico", cursive;
    color: yellow;
    text-align: center;
  }

  .codeBoxLabels {
    display: flex;
    width: 100%;
    font-family: "Pacifico", cursive;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
    color: #4e2799;
    margin: 0;
  }

  .codeBoxLabels p {
    margin: 0;
  }

  .codeBoxes {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .htmlCodeBox {
    background-color: #fff;
    border: 6px solid #4e2799;
    width: 47%;
    border-radius: 7px;
    height: 300px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cssCodeBox {
    background-color: #fff;
    border: 6px solid #4e2799;
    width: 48.1%;
    border-radius: 7px;
    height: 312px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    padding: 25px;
  }

  .bucket {
    background: #4e2799;
    border: 4px solid #85E0FF;
    width: 65px;
    margin: 10px;
    height: 36px;
    border-radius: 7px;
  }

  .cssPair {
    display: flex;
    flex-direction: row;
  }

  .statusDisplayLabels {
    display: flex;
    width: 100%;
    font-family: "Pacifico", cursive;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
    color: #4e2799;
    margin: 0;
  }

  .statusDisplayLabels p {
    margin: 0;
  }

  .statusDisplayBoxes {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  #currentStatus {
    background-color: #fff;
    border: 6px solid #4e2799;
    width: 47%;
    border-radius: 7px;
    height: 300px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #targetStatus {
    background-color: #fff;
    border: 6px solid #4e2799;
    width: 47%;
    border-radius: 7px;
    height: 300px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tutorialArea {
    display: none;
  }

  .mobileError {
    display: none;
  }

  .hideMed {
    display: none;
  }

  .ui-dialog .ui-dialog-buttonpane button {
    background: #4e2799;
    color: yellow;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    background: #4e2799;
  }

  .topBar {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .usernameBox {
    width: 33%;
    display: flex;
    flex-direction: column;
  }

  .nameAndScore{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
  }

  .nameAndScore span {
    color: yellow;
    font-family: "Pacifico", cursive;
    font-size: 40px;
  }

  #scoreBox {
    color: yellow;
    font-family: "Pacifico", cursive;
    font-size: 40px;
  }

  .titleBox {
    height: 156px;
    width: 33%;
    justify-content: center;
  }

  .playArea {
    flex-direction: row;
    width: 100%;
  }

  .buttonsAndInstructions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 14%;
    margin-left: 9px;
  }

  .largeInstructions {
    display: block;
    padding-left: 8px;
    color: yellow;
    font-family: "Righteous", san-serif;
    font-size: 30px;
  }

  .buttonHolder {
    flex-direction: column;
  }

  .button {
    font-size: 20px;
  }

  .largeLabel {
    display: flex;
    transform: rotate(270deg);
    color: #4e2799;;
    font-size: 40px;
    height: 70px;
    margin-top: 55px;
    width: 43px;
    font-family: "Pacifico", cursive;
  }

  .codeBoxes {
    margin-right: 12px;
    margin-top: 8px;
  }

  .htmlCodeBox {
    height: 270px;
    font-size: 24px;
  }

  .cssCodeBox {
    height: 282px;
    font-size: 24px;
  }

  .bucket {
    width: 100px;
    height: 36px;
  }

  .largeStatusLabel {
    display: flex;
    transform: rotate(270deg);
    color: #4e2799;
    font-size: 38px;
    height: 70px;
    margin-top: 215px;
    width: 43px;
    font-family: "Pacifico", cursive;
  }

  .statusDisplayBoxes {
    margin-bottom: 8px;
    margin-right: 12px;
  }

  #currentStatus {
    height: 270px;
    font-size: 24px;
  }

  #targetStatus {
    height: 270px;
    font-size: 24px;
  }

  .hideLarge {
    display: none;
  }
}
